.profile-form{
    width: 595px;
    border: 2px solid #195c70;
    border-radius: 5px;
    
}

.unit-form{
    margin: 32px;
}

.unit-title{
    font-size: 20px;
    color: rgb(126, 126, 126);
    margin: 0 0 8px 0;
    padding: 0;
}

input, textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 6px 0;
    height: 32px;
    outline: none;
}

textarea.summary{
    height: 100px;
    resize: none;
}

.detail-unit{
    margin-bottom: 16px;
}

.btn-holder{
    margin-bottom: 8px;
}

.form-btn{
    background: transparent;
    border: 1px solid #195c70;
    font-weight: 400;
    width: 4rem;
    height: 1.75rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 4px;
}

.form-btn:hover{
    background-color: rgb(228, 228, 228);
}